// Place all the styles related to the Reserve controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
    position:absolute; 
    right: 5%; 
    top: 45%; 
    //padding: 20px; 
    //background: #000; 
    //border-radius: 40px; 
    //opacity: .4; 
    //cursor: pointer
;}

.error {
    margin-bottom: 1em;
    color: #cc0000;
    font-weight: bold;
}

/*
 * CSS styles applied on every page, public and logged-in. Except for the editor.
 *
 * Do not put things in this stylesheet that only apply to a minority of pages.
 * TODO: minify this before release.
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* GENERAL ========================================= */

/* Zero default margin & padding around common elements */
article, blockquote, body, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, header, li, menu, nav, ol, p, section, ul {
	margin: 0;
	border: 0 none #FFFFFF;
	padding: 0;
}

body {
	background-color: #e5e5e5;
	background-image: url('https://d29498xbqfhwsb.cloudfront.net/static/images/bg.29fcc39.jpg');
	color: #3F4652;
	line-height: 1.4;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 90%;
	text-align: left;
}

body.dark {
	background-color: #3f4652;
	background-image: url('https://di8vc3anm8wl1.cloudfront.net/static/images/bg_dark.19787dd.jpg');
	background-size: cover;
}

a {
	color: #00c4cc;
	text-decoration: underline;
}

a:visited {
	color: #9966cc;
}

a:hover {
	text-decoration: none;
}

img {
	border: 0 none transparent;
}

input, select, table, textarea {
	font-size: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type=text]::-ms-clear,
input[type=password]::-ms-reveal {
	display: none;
}

input[type=text],
input[type=password] {
	width: 12em;
	height: 43px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	box-shadow: inset 0 4px 10px rgba(0,0,0,0.15), 1px 1px 0 #ffffff;
}

input[type=text]:focus,
input[type=password]:focus {
	border: 3px solid #00c4cc;
	padding: 0 8px;
	box-shadow: inset 0 4px 10px rgba(0,0,0,0.15);
}

button,
.button,
input[type=submit],
#redirectLink a {
	display: inline-block;
	position: relative;
	height: 43px;
	outline: none;
	margin: 0;
	border: 0 none transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 1em 0 1em;
	background-color: #a06fda;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.25));
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
	color: #ffffff;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
	line-height: 43px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.25);
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.25);
	-webkit-transition: background-color 0.15s linear;
	-moz-transition: background-color 0.15s linear;
	transition: background-color 0.15s linear;
}

button:hover,
.button:hover,
input[type=submit]:hover {
	background-color: #ba82ff;
}

button:focus,
.button:focus,
input[type=submit]:focus {
	background-color: #00c4cc;
}

button:active,
.button:active,
input[type=submit]:active {
/* Can't change position of button because Chrome sometimes doesn't catch clicks */
/*	top: 3px;*/
/*	height: 40px;*/
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.error{
	color: red;	
}




/* HEADER ========================================= */

header {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 50px;
	background-image: url('https://d29498xbqfhwsb.cloudfront.net/static/images/home/header_bg3.a52a795.png');
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

header.content {
	background-color: rgba(255,255,255,0.85);
}

body.alert header {
	background-color: rgba(255,204,0,0.95);
}

header > div {
	position: relative;
	width: 960px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	height: 50px;
}

#logo {
	float: left;
	top: 0;
}

#logo a {
	display: block;
	position: relative;
	top: -4px;
	width: 100px;
	height: 79px;
	border-top: 4px solid #00c4cc;
	background-image: url('http://localhost/assets/Youhoulogo.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
	text-decoration: none;
	-webkit-transition: top 0.2s ease-out, background-image 0.3s linear;
	-moz-transition: top 0.2s ease-out, background-image 0.3s linear;;
	-ms-transition: top 0.2s ease-out, background-image 0.3s linear;;
	transition: top 0.2s ease-out, background-image 0.3s linear;;
}

body.alert #logo a {
	border-top-color: #ffcc00;
	background-image: url('http://localhost/assets/Youhoulogo.png');
}

#logo a:hover {
	top: 0;
}

#logo a:after {
	content: '\003B2';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 28px;
	height: 28px;
	border-radius: 100%;
	background-color: #a06fda;
	color: #ffffff;
	font-size: 20px;
	font-family: Times, serif;
	text-indent: 0;
	font-style: normal;
	text-align: center;
	line-height: 28px;
}

header > .inner > menu {
	float: right;
	list-style: none;
	font-size: 85%;
}

body.alert header > .inner > menu {
	opacity: 0.25;
}

header > .inner > menu > li {
	display: inline-block;
	margin-left: 2em;
	line-height: 50px;
}

header > .inner > menu a,
header > .inner > menu a:visited{
	display: block;
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

header.lightBG > .inner > menu a,
header.lightBG > .inner > menu a:visited {
	color: #3f4652;
}

header > .inner > menu a:hover,
header.lightBG > .inner > menu a:hover {
	color: #00c4cc;
}

#currentUser {
	float: left;
	line-height: 50px;
}

#currentUser .avatar {
	float: left;
	overflow: hidden;
	height: 28px;
	margin: 11px 0.6em 0 0;
	border-radius: 50%;
}

#currentUser .avatar img {
	display: block;
}

#showUserMenu {
	position: relative;
	float: left;
	width: 32px;
	height: 28px;
	margin: 11px 0 0 1em;
	border-left: 1px solid rgba(255,255,255,0.5);
	text-indent: -9999px;
}

#showUserMenu .arrow {
	position: absolute;
	left: -0.6em;
	top: 0;
	width: 100%;
	height: 100%;
	margin-left: 0.5em;
	font-size: 80%;
	text-indent: 0;
	line-height: 30px;
	font-family: 'icomoon';
	text-align: center;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-ms-transition: -ms-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

#showUserMenu.on .arrow {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

#showBrandMenu {
	float: left;
	margin: 11px 0 0 1em;
	border-left: 1px solid rgba(255,255,255,0.5);
	padding-left: 1em;
	line-height: 28px;
	text-align: center;
}

header menu menu {
	position: absolute;
	overflow: hidden;
	right: 0;
	top: 50px;
	height: 0;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	z-index: 10;
	list-style: none;
	background-color: rgba(49,54,64,0.85);
	text-align: right;
	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}

header menu menu.on {
	height: auto;
}

header menu menu a {
	display: block;
	padding: 0.8em 2em;
	color: #ffffff;
	text-decoration: none;
	white-space: nowrap;
}

#miniGetStarted a,
#miniGetStarted a:visited {
	width: 8.5em;
	margin-top: 10px;
	border-radius: 3px;
	line-height: 30px;
	background-color: #00c4cc;
	color: #ffffff;
	text-align: center;
}

#miniGetStarted a:hover {
	background-color: #17dfe5;
	color: #ffffff;
}

#headerBG {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 225px;
	z-index: -1;
	background-color: #3f4652;
	background-image: url('https://di8vc3anm8wl1.cloudfront.net/static/images/section_primary_bg.0966806.png');
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
}


#sidebar {
	display: block;
	margin-top: 90px;
	width: 230px;
	float: right;
	font-size: 1em;
}

#sidebar h1,
#sidebar h2,
#sidebar h3 {
	font-weight: 200;
}

#sidebar h2 {
	font-size: 1em;
	font-weight: bold;
	margin: 1.1em 0 0.1em 0;
}

#sidebar .avatar {
	float: left;
	overflow: hidden;
	height: 28px;
	margin: 6px 0.6em 0 0;
	border-radius: 50%
}

#sidebar .brand,
#sidebar .date {
	font-size: 0.92em;
	line-height: 1.5;
}

#sidebar .date {
	color: #999;
}

#sidebar ul li {
	list-style-type: none;
}

#sidebar ul li {
	display: inline;
}

#sidebar ul li:after {
	content: ', ';
}

#sidebar ul li:last-child:after {
	content: '';
}




/* MEDIA PAGE ========================================= */

section#content.media {
	padding: 0.8em;
}

#mainImageWrapper {
	background-color: transparent;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0.04) 75%, transparent 75%, transparent);
	background-size: 10px 10px;
	padding: 20px;
	border-radius: 3px;
}

#mainImage {
	display: block;
	margin: auto;
	border: none;
	max-width: 640px;
	height: auto;
}

#mediaAttributes td {
	margin: 0;
	padding: 10px 10px 10px 0;
	border-bottom: 1px solid #eee;
}

#mediaAttributes td input,
#mediaAttributes td textarea {
	width: 550px;
}

#mediaAttributes td textarea {
	height: 6em;
}

#mediaAttributes td.editable button {
	float: right;
}

#noticeOverlay {
	position: fixed;
	z-index: 9000;
	top: 100px;
	right: 100px;
	border-radius: 3px;
	display: none;
	padding: 10px;
}

#noticeOverlay.success {
	border: 3px solid green;
	background: green;
	color: white;
}

#noticeOverlay.failure {
	border: 3px solid red;
	background: red;
	color: white;
}




/* SYSTEM ALERTS ========================================= */

#systemAlert {
	position: absolute;
	z-index: 9999;
	left: 0;
	right: 0;
	top: 0;
	color: #000000;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}

#systemAlert a,
#systemAlert a:hover {
	margin-left: 1.4em;
	color: #000000;
	font-weight: normal;
}


/* GENERAL ========================================= */

body {
	background-color: #ffffff;
	background-image: none;
	line-height: 1.5;
	text-align: center;
}

input[type=text] {
	font-weight: bold;
}




/* HEADER ========================================= */

header {
	position: fixed;
}

header > .inner {
	width: auto;
	min-width: 920px;
	padding: 0 4%;
}

header > .inner > menu {
	font-size: 100%;
}

header > .inner > menu a {
	font-weight: bold;
}




/* HERO ========================================= */

#hero {
	position: relative;
	min-height: 200px;
	overflow: hidden;
	background-color: #006366;
/*	background: url(https://di8vc3anm8wl1.cloudfront.net/images/home/hero_video.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/}

#hero .montage {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: 1380px;
	max-height: 776px;
	height: auto;
	display: none;
}

/* ------ MONTAGE -----  */

#hero .montage img {
	position: absolute;
	height: 100%;
	min-width: 100%;
	top: 0;
	left: 0;
}

@-webkit-keyframes montage_anim {
    0% {opacity:0;}
   10% {opacity:1;}
   40% {opacity:1;}
   50% {opacity:0;}
  100% {opacity:0;}
}

@-moz-keyframes montage_anim {
    0% {opacity:0;}
   10% {opacity:1;}
   40% {opacity:1;}
   50% {opacity:0;}
  100% {opacity:0;}
}

@-ms-keyframes montage_anim {
    0% {opacity:0;}
   10% {opacity:1;}
   40% {opacity:1;}
   50% {opacity:0;}
  100% {opacity:0;}
}

@keyframes montage_anim {
    0% {opacity:0;}
   10% {opacity:1;}
   40% {opacity:1;}
   50% {opacity:0;}
  100% {opacity:0;}
}

#hero .montage img {
	-webkit-animation: montage_anim 10s ease-in-out infinite;
	-moz-animation: montage_anim 10s ease-in-out infinite;
	-ms-animation: montage_anim 10s ease-in-out infinite;
	animation: montage_anim 10s ease-in-out infinite;
	opacity: 0;
}

#hero .montage img:nth-of-type(2) {
	-webkit-animation-delay: 2s;
	-moz-animation-delay:    2s;
	-ms-animation-delay:     2s;
	animation-delay:         2s;
}
#hero .montage img:nth-of-type(1) {
	-webkit-animation: none;
	-moz-animation:    none;
	-ms-animation:     none;
	animation:         none;
	opacity: 1;
}

/* ------ END MONTAGE -----  */

#hero video {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	/* Without this Chrome has bug where video disappears, because of opacity on #miniGetStarted */
	-webkit-transform: translate3d(0,0,0);
}

#hero .amazing {
	position: absolute;
	left: 8%;
	right: 8%;
	top: 50%;
	margin-top: -8em;
}

#hero .amazing.focused {
	opacity: 1 !important;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

#hero h1 {
	max-width: 10em;
	color: #ffffff;
	font-size: 300%;
	font-weight: 300;
	text-align: left;
	line-height: 1.2;
}

#sidekick {
	position: relative;
	top: 50%;
	left: 8%;
	width: 92%;
}

#sidekick p {
	color: #ffffff;
	font-size: 115%;
	text-align: left;
	font-weight: 300;
	opacity: 0.67;
}

#sidekick form {
	float: left;
	margin-top: 0.5em;
	border-radius: 6px;
	padding: 1em;
	background-color: rgba(255,255,255,0.15);
	color: #ffffff;
	font-size: 130%;
	font-weight: bold;
}

#sidekick input[type=text] {
	width: 10em;
	margin: 0 0 0 0.5em;
	box-shadow: none;
}

#sidekick input[type=text]:not(:focus) {
	border-color: transparent;
}

#sidekick input[type=text]:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color 0.2s linear;
}

#sidekick input[type=submit] {
	position: relative;
	top: -1px;
	height: 41px;
	border: 0 none #ffffff;
	border-radius: 5px;
	margin: 0 0 0 0.5em;
	padding: 0 2em 0 2em;
	background-color: #00c4cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.333)));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.333));
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.333));
	color: #ffffff;
	font-size: 90%;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
	line-height: 41px;
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-shadow: 0 3px 0 #006367;
	-webkit-transition: background-color 0.15s linear;
	-moz-transition: background-color 0.15s linear;
	-ms-transition: background-color 0.15s linear;
	transition: background-color 0.15s linear;
}

#sidekick input[type=submit]:hover {
	background-color: #24ebf2;
}

#sidekick input[type=submit]:active {
	top: 0;
	box-shadow: none;
}

#learnMore {
	position: absolute;
	float: right;
	right: 8%;
	bottom: 50px;
	padding-right: 40px;
	color: #ffffff;
	font-size: 115%;
	font-weight: 300;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#learnMore:hover {
	color: #00c4cc;
	opacity: 1;
}

#learnMore > span {
	position: absolute;
	right: 0;
	top: 50%;
	width: 29px;
	height: 29px;
	margin-top: -15px;
	border-radius: 15px;
	background-color: #ffffff;
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/learn_more_arrow.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-animation: floating 3s infinite ease-in-out;
	-moz-animation: floating 3s infinite ease-in-out;
	animation: floating 3s infinite ease-in-out;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

@-webkit-keyframes floating {
	0% {-webkit-transform: translateY(-4px);}
	50% {-webkit-transform: translateY(4px);}
	100% {-webkit-transform: translateY(-4px);}
}

@-moz-keyframes floating {
	0% {-moz-transform: translateY(-4px);}
	50% {-moz-transform: translateY(4px);}
	100% {-moz-transform: translateY(-4px);}
}

@keyframes floating {
	0% {transform: translateY(-4px);}
	50% {transform: translateY(4px);}
	100% {transform: translateY(-4px);}
}

#learnMore:hover > span {
	background-color: #00c4cc;
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/learn_more_arrow_hover.gif);
}




/* CONTENT ========================================= */

#content {
	width: 920px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 7em auto 0 auto;
	padding: 0 40px;
	text-align: left;
}

#content > section {
	margin-top: 4em;
	overflow: hidden;
}

#content > section + section {
	border-top: 1px solid #e5e5e5;
	padding-top: 4em;
}

#content .feature {
	position: relative;
	float: right;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 12px;
}

#content2 .text,
#content3 .text,
#content4 .text {
	margin-right: 340px;
}

#content h2 {
	width: 67%;
	margin-top: -0.2em;
	margin-bottom: -0.1em;
	font-size: 300%;
	font-weight: 300;
	line-height: 1.2;
}

#content p {
	margin-top: 1.5em;
}

#content1 h2 {
	width: auto;
	text-align: center;
}

#documentTypes {
	margin-top: 3em;
	overflow: hidden;
	list-style: none;
}

#documentTypes li {
	float: left;
	margin-right: 33px;
	color: #9FA2A8;
	text-align: center;
}

#documentTypes figure {
	display: block;
	position: relative;
	width: 75px;
	height: 100px;
	margin: 0 auto 12px auto;
	border-radius: 3px;
	background-color: #ff9900;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#documentTypes figure > * {
	position: absolute;
}

#documentTypes figure img {
	left: 0;
	top: 0;
	border-radius: 3px;
	opacity: 0;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

#documentTypes .on figure img {
	opacity: 1;
}

#documentTypes figure .image {
	left: 16px;
	top: 12px;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background-color: #ffffff;
	opacity: 0.5;
}

#documentTypes figure .text {
	left: 13px;
	top: 68px;
	width: 49px;
	height: 2px;
	background-color: #ffffff;
	opacity: 0.5;
}

#documentTypeFlyer figure .text2 {
	top: 77px;
}

#documentTypeFlyer figure .text3 {
	top: 86px;
}

#documentTypePresentation figure {
	width: 100px;
	height: 75px;
	margin-top: 25px;
	background-color: #ffb300;
}

#documentTypePresentation figure .image {
	left: 27px;
}

#documentTypePresentation figure .text {
	left: 15px;
	width: 70px;
	top: 62px;
}

#documentTypeFacebookCover figure {
	width: 120px;
	height: 50px;
	margin-top: 50px;
	background-color: #ffcc00;
}

#documentTypeFacebookCover figure .bg {
	position: absolute;
	left: 18px;
	top: 33px;
	width: 22px;
	height: 22px;
	background: #ffcc00 url(https://di8vc3anm8wl1.cloudfront.net/images/document_type_facebook_cover.png) 9px 3px no-repeat;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
	-ms-box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
	box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
}

#documentTypeFacebookCover figure .bg2 {
	background-image: none;
	opacity: 0.5;
}

#documentTypeBlogGraphic figure {
	width: 100px;
	height: 75px;
	margin-top: 25px;
	background-color: #7FC866;
}

#documentTypeBlogGraphic figure .image1 {
	top: 16px;
}

#documentTypeBlogGraphic figure .image2 {
	left: 70px;
	top: 16px;
	width: 20px;
	height: 20px;
}

#documentTypeBlogGraphic figure .text {
	left: 70px;
	top: 47px;
	width: 20px;
}

#documentTypeBlogGraphic figure .text2 {
	top: 56px;
}

#documentTypeBusinessCard figure {
	width: 100px;
	height: 67px;
	margin-top: 33px;
	background-color: #00c4cc;
}

#documentTypeBusinessCard figure .image {
	left: 10px;
	top: 20px;
	width: 20px;
	height: 20px;
}

#documentTypeBusinessCard figure .text {
	left: 38px;
	top: 20px;
	width: 50px;
}

#documentTypeBusinessCard figure .text2 {
	top: 28px;
}

#documentTypeBusinessCard figure .text3 {
	top: 36px;
}

#documentTypeBusinessCard figure .text4 {
	top: 44px;
}

#documentTypePoster figure {
	background-color: #509AD3;
}

#documentTypePoster figure .image {
	top: 22px;
}

#documentTypePoster figure .text1 {
	top: 80px;
}

#documentTypeInvitation {
	margin-right: -10px !important;
}

#documentTypeInvitation figure {
	width: 70px;
	height: 70px;
	margin-top: 30px;
	background-color: #A06FDA;
}

#documentTypeInvitation figure .image {
	left: 12px;
	width: 20px;
	height: 20px;
}

#documentTypeInvitation figure .text1,
#documentTypeInvitation figure .text2,
#documentTypeInvitation figure .text3 {
	left: 37px;
	top: 12px;
	width: 21px;
}

#documentTypeInvitation figure .text2 {
	top: 21px;
}

#documentTypeInvitation figure .text3 {
	top: 30px;
}

#documentTypeInvitation figure .text4,
#documentTypeInvitation figure .text6,
#documentTypeInvitation figure .text5 {
	left: 12px;
	top: 39px;
	width: 46px;
}

#documentTypeInvitation figure .text5 {
	top: 48px;
}

#documentTypeInvitation figure .text6 {
	top: 57px;
}

#content1 p {
	float: left;
	width: 47%;
}

#content1 p + p {
	float: right;
}

#content2 .feature {
	float: left;
	width: 500px;
	background-color: #A06FDA;
}

#content2 .text {
	margin-right: 0;
	margin-left: 540px;
}

#content2 h2 {
	width: auto;
}

#feature2SearchBox {
	position: absolute;
	left: 40px;
	right: 40px;
	top: 50%;
	height: 70px;
	margin-top: -35px;
	border-radius: 35px;
	background-color: rgba(255,255,255,0.2);
	color: #ffffff;
	font-size: 350%;
	-webkit-box-shadow: 5px 5px 4px rgba(0,0,0,0.05);
	-moz-box-shadow: 5px 5px 4px rgba(0,0,0,0.05);
	box-shadow: 5px 5px 4px rgba(0,0,0,0.05);
}

#feature2SearchBox > span {
	position: relative;
	float: left;
	top: 15px;
	height: 40px;
	border-right: 3px solid #ffffff;
	padding: 0 5px 0 70px;
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/spyglass.png);
	background-repeat: no-repeat;
	background-position: 20px 50%;
	line-height: 40px;
	-webkit-animation: blinkingCursor 1s linear infinite;
	-moz-animation: blinkingCursor 1s linear infinite;
	-ms-animation: blinkingCursor 1s linear infinite;
	animation: blinkingCursor 1s linear infinite;
}

#feature2SearchBox.noCaret > span {
	border-right: 0 none #ffffff;
}

@-webkit-keyframes blinkingCursor {
	0% {border-color: rgba(255,255,255,1);}
	49.9% {border-color: rgba(255,255,255,1);}
	50.1% {border-color: rgba(255,255,255,0);}
	100% {border-color: rgba(255,255,255,0);}
}

@-moz-keyframes blinkingCursor {
	0% {border-color: rgba(255,255,255,1);}
	49.9% {border-color: rgba(255,255,255,1);}
	50.1% {border-color: rgba(255,255,255,0);}
	100% {border-color: rgba(255,255,255,0);}
}

@-ms-keyframes blinkingCursor {
	0% {border-color: rgba(255,255,255,1);}
	49.9% {border-color: rgba(255,255,255,1);}
	50.1% {border-color: rgba(255,255,255,0);}
	100% {border-color: rgba(255,255,255,0);}
}

@keyframes blinkingCursor {
	0% {border-color: rgba(255,255,255,1);}
	49.9% {border-color: rgba(255,255,255,1);}
	50.1% {border-color: rgba(255,255,255,0);}
	100% {border-color: rgba(255,255,255,0);}
}

#content2 .feature ul {
	position: absolute;
	left: 40px;
	right: 40px;
	top: 40px;
	list-style: none;
	/* Fix for Chrome 26 not visually updating the element when it animates */
	-webkit-transform: translate3d(0,0,0);
}

#content2 .feature ul li {
	position: relative;
	float: left;
	width: 25%;
	opacity: 0;
	-webkit-transform: translate3d(0,-30px,0);
	-moz-transform: translate3d(0,-30px,0);
	-ms-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-out;
	-ms-transition: -ms-transform 0.3s ease-out, opacity 0.3s ease-out;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

#content2 .feature ul.laidOut li {
	position: absolute;
}

#content2 .feature ul li.show {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#content2 .feature ul img {
	margin: 0 10px 10px 0;
}

#feature2Hand {
	position: absolute;
	left: -80px;
	top: 50px;
	z-index: 2;
	width: 70px;
	height: 84px;
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/hand.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	-webkit-transform: rotate(-15deg) scale(0.8);
	-moz-transform: rotate(-15deg) scale(0.8);
	-ms-transform: rotate(-15deg) scale(0.8);
	transform: rotate(-15deg) scale(0.8);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-ms-transition: -ms-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

#feature2Hand.pickedUp {
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/hand_closed.png);
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

#feature2Clone {
	position: absolute;
	z-index: 1;
	-webkit-transition: -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out, -moz-box-shadow 0.3s ease-out;
	-ms-transition: -ms-transform 0.3s ease-out, -ms-box-shadow 0.3s ease-out;
	transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

#feature2Clone.pickedUp {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);


	-webkit-transform: translate3d(0,0,0) scale(1.2);
	-webkit-filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
}

#feature2Design {
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	height: 100%;
	/* Fix for Chrome 26 not visually updating the element when it animates */
	-webkit-transform: translate3d(0,0,0);
}

#feature2DesignCircle {
	position: absolute;
	left: 73px;
	top: 50%;
	width: 150px;
	height: 150px;
	margin-top: -75px;
	border-radius: 75px;
	background-color: #674f84;
}

#feature2DesignText {
	position: absolute;
	left: 263px;
	top: 50%;
	width: 153px;
	height: 122px;
	margin-top: -61px;
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/search_drag_text.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#content3 {
	text-align: center;
	overflow: visible !important;
}

#content3 h2 {
	width: auto;
}

#content3 h2:first-child {
	margin-bottom: 225px;
}

#imagesWrapper {
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 900px;
	overflow: hidden;
	margin-top: -640px;
	padding-top: 410px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#imagesFeature {
	position: relative;
	height: 200px;
	margin: 20px 0 10px 0;
	text-align: left;
}

#imagesFeature > * {
	position: absolute;
}

#imagesFeature .block {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.75);
}

#imagesFeature + h2 {
	font-weight: bold;
}

#departureBoard {
	width: 100%;
	margin: 15px auto 0 auto;
}

.splitFlap {
	position: relative;
	display: inline-block;
	margin: 0 5px 5px 0;
	width: 45px;
	height: 60px;
	border-radius: 4px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#191919), to(#4c4c4c));
	background-image: -moz-linear-gradient(top, #191919, #4c4c4c);
	background-image: linear-gradient(to bottom, #191919, #4c4c4c);
	-webkit-box-shadow: inset 0 -1px rgba(255,255,255,0.25), 0 1px 0 #333333, 0 2px 0 #7f7f7f, 2px 2px 6px rgba(0,0,0,0.67);
	-moz-box-shadow: inset 0 -1px rgba(255,255,255,0.25), 0 1px 0 #333333, 0 2px 0 #7f7f7f, 2px 2px 6px rgba(0,0,0,0.67);
	-ms-box-shadow: inset 0 -1px rgba(255,255,255,0.25), 0 1px 0 #333333, 0 2px 0 #7f7f7f, 2px 2px 6px rgba(0,0,0,0.67);
	box-shadow: inset 0 -1px rgba(255,255,255,0.25), 0 1px 0 #333333, 0 2px 0 #7f7f7f, 2px 2px 6px rgba(0,0,0,0.67);
	-webkit-perspective: 170px;
	-ms-perspective: 170px;
	perspective: 170px;
}

.splitFlap:last-child {
	margin-right: 0;
}

.splitFlap:before {
	content: '';
	position: absolute;
	left: 0;
	top: 29px;
	z-index: 3;
	width: 100%;
	height: 1px;
	background-color: #000000;
}

.splitFlap > span {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 45px;
	height: 30px;
	overflow: hidden;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#191919));
	background-image: -moz-linear-gradient(top, #333333, #191919);
	background-image: linear-gradient(to bottom, #333333, #191919);
	color: transparent;
	font-size: 50px;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,0.25);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,0.25);
	-ms-box-shadow: inset 0 1px rgba(255,255,255,0.25);
	box-shadow: inset 0 1px rgba(255,255,255,0.25);
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 1s linear;
	transition: transform 1s linear;
}

.splitFlap > span.underneath {
	z-index: 1;
}

.splitFlap > span.down {
	-webkit-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.splitFlap > span.bottom {
	top: 30px;
	border: 0 none #ffffff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#4c4c4c));
	background-image: -moz-linear-gradient(top, #282828, #4c4c4c);
	background-image: linear-gradient(to bottom, #282828, #4c4c4c);
	line-height: 0;
	-webkit-box-shadow: inset 0 -1px rgba(255,255,255,0.25);
	-moz-box-shadow: inset 0 -1px rgba(255,255,255,0.25);
	-ms-box-shadow: inset 0 -1px rgba(255,255,255,0.25);
	box-shadow: inset 0 -1px rgba(255,255,255,0.25);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.splitFlap > span.up {
	-webkit-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.splitFlap > span > span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
}

.splitFlap > span.bottom > span {
	top: -30px;
}

#content4 .feature {
	position: relative;
	background-color: #7FC866;
}

.feature .sample {
	position: absolute;
	margin-left: -45px;
	margin-top: -45px;
}

.sample.one,
.sample.three {
	left: 28%;
}

.sample.two,
.sample.four {
	left: 72%;
}

.sample.one,
.sample.two {
	top: 28%;
}

.sample.three,
.sample.four {
	top: 72%;
}

.sample .ribbon {
	position: absolute;
	display: inline-block;
	top: 1em;
	right: -0.5em;
	width: 3em;
	padding-left: 0.5em;
	font-size: 75%;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.ribbon.paid {
	background-color: #c00;
	color: #fff;
}

#content5 .feature {
	float: left;
	width: 500px;
	background-color: #ff99cc;
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/world_map.png);
	background-repeat: no-repeat;
	background-position: 60% 50%;
}

#content5 .text {
	margin-right: 0;
	margin-left: 540px;
}

#content5 h2 {
	width: auto;
}

#content7 iframe {
	margin-top: 1.8em;
}

#pressGrid {
	margin-top: 3em;
	color: rgba(255,255,255,0.95);
}

#pressGrid .row {
	height: 120px;
	margin-bottom: 10px;
}

#pressGrid .row > * {
	/** re-order declarations */
	display: inline-block;
	position: relative;
	float: left;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 1.1%;
	border-radius: 15px;
}

#pressGrid .span1 {
	width: 13.1857%;
}

#pressGrid .span2 {
	width: 27.471%;
}

#pressGrid .span3 {
	width: 41.7571%;
}

#pressGrid .span4 {
	width: 56.04285%;
}

#pressGrid .photo {
	background-position: 50%;
}

#pressGrid .video {
	position: relative;
	background-color: #ddd;
}

#pressGrid blockquote {
	background-color: #00c4cc;
}

.photo.lars {
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/lars.jpg);
}

.photo.davem {
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/davem.jpg);
}

.photo.daveb {
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/daveb.jpg);
}

a .playButton {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80px;
	height: 80px;
	margin: -40px 0 0 -40px;
	border-radius: 40px;
	background-color: rgba(0,0,0,0.67);
	color: #ffffff;
	font-size: 30px;
	text-indent: 5px;
	font-family: 'icomoon';
	text-align: center;
	line-height: 80px;
	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}

a:hover .playButton {
	background-color: #00c4cc;
}

a:active .playButton {
	margin-top: -38px;
}

.video a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.video a, .video a:visited {
	color: inherit;
}

.video .controls {
	position: absolute;
	top: 50%;
	left: 4em;
	height: 2.5em;
	margin-top: -1.25em;
	color: #ffffff;
	text-align: left;
	line-height: 1.3;
	text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.video .play {
	position: absolute;
	top: 0;
	left: -3em;
	width: 2.5em;
	height: 2.5em;
	text-indent: -9999px;
}

.video .playButton {
	width: 100%;
	height: 100%;
	margin: -50% 0 0 -50%;
	background-color: rgba(0,0,0,0.5);
	font-size: 1em;
	line-height: 2.5em;
	text-indent: 0.15em;
}

.video a:active .playButton {
	margin-top: -46%;
}

.video .by, .video .title {
	display: block;
}

.video.brooke {
	background-image: url('https://d29498xbqfhwsb.cloudfront.net/static/images/home/brooke.14799a5.jpg');
	background-size: cover;
}

.video.jade {
	background-image: url('https://di8vc3anm8wl1.cloudfront.net/static/images/home/jade.8a2a276.jpg');
	background-size: cover;
}

#pressGrid blockquote {
	text-align: left;
	font-size: 90%;
}

#pressGrid blockquote p,
#pressGrid blockquote footer {
	margin: 1em 2em;
}

#pressGrid blockquote p {
	font-style: italic;
}

#pressGrid blockquote p:before {
	content: open-quote;
}

#pressGrid blockquote p:after {
	content: close-quote;
}

.span4 footer {
	text-align: right;
}

footer .by:after {
	content: ', ';
}

#pressGrid .title {
	font-weight: bold;
}

blockquote .pointer {
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background-color: #00c4cc;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	z-index: 1;
}

blockquote .pointer.top {
	top: 0;
	margin-top: -11px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
}

blockquote .pointer.bottom {
	bottom: 0;
	margin-bottom: -11px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

blockquote.span3 .pointer.left {
	left: 16.67%;
}

blockquote.span4 .pointer.right {
	left: 87.5%;
}

blockquote .pointer.center {
	left: 50%;
}

#content7 {
	text-align: center;
}

#content7 h2 {
	width: auto;
}

#content8 {
	text-align: center;
}

#content8 h2 {
	width: auto;
}

#content8 form {
	margin: 3em auto;
	font-size: 120%;
	font-weight: bold;
}

#content8 input[type=text] {
	width: 10em;
	margin: 0 0 0 0.5em;
}

#content8 input[type=text]:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color 0.2s linear;
}

#content8 input[type=submit] {
	position: relative;
	top: -3px;
	height: 41px;
	border: 0 none #ffffff;
	border-radius: 5px;
	margin: 0 0 0 0.5em;
	padding: 0 2em 0 2em;
	background-color: #00c4cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.333)));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.333));
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.333));
	color: #ffffff;
	font-size: 90%;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
	line-height: 41px;
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-shadow: 0 3px 0 #006367;
	-webkit-transition: background-color 0.15s linear;
	-moz-transition: background-color 0.15s linear;
	-ms-transition: background-color 0.15s linear;
	transition: background-color 0.15s linear;
}

#content8 input[type=submit]:hover {
	background-color: #24ebf2;
}

#content8 input[type=submit]:active {
	top: 0;
	box-shadow: none;
}

#social {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
}

#social a, #social a:visited {
	color: inherit;
	text-decoration: none;
}

#social a span {
	display: block;
}

#social img {
	display: block;
	height: 16px;
	margin: 2px auto;
}

#social ul {
	margin-top: 1.5em;
}

#social li {
	position: relative;
	display: inline-block;
	width: 75px;
	margin: 0 0.5em;
}

#social img.on {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	opacity: 0;
}

#social a:hover img.on {
	opacity: 1;
}

#social .blog img.on {
	margin-left: 30px;
}

#social .twitter img.on {
	margin-left: 27px;
}

#social .facebook img.on {
	margin-left: 30px;
}

#social .pinterest img.on {
	margin-left: 30px;
}

.connector {
	position: absolute;
	border-top: 4px dotted #ffffff;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

#connector1 {
	left: 96px;
	top: 116px;
	width: 189px;
	-webkit-transform: rotate(32deg);
	-moz-transform: rotate(32deg);
	-ms-transform: rotate(32deg);
	transform: rotate(32deg);
}

#connector2 {
	left: 256px;
	top: 216px;
	width: 166px;
	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform: rotate(-25deg);
}

.collaborator {
	position: absolute;
	width: 73px;
	height: 73px;
	border-radius: 37px;
	background-repeat: no-repeat;
	-webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

#collaborator1 {
	left: 60px;
	top: 80px;
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/collaborator1.png);
}

#collaborator2 {
	left: 220px;
	top: 180px;
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/collaborator2.png);
}

#collaborator3 {
	left: 370px;
	top: 110px;
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/home/collaborator3.png);
}




/* FOOTER ========================================= */

footer {
	background-color: #3f4652;
	background-image: url(https://di8vc3anm8wl1.cloudfront.net/images/bg_dark.jpg);
	background-size: cover;
	position: absolute;
	margin-top: 7em;
	padding: 3em 0 3em 0;
	width: 100%;
}

footer li {
	display: inline-block;
	line-height: 2em;
	margin: 0 1em;
}

footer a,
footer a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

footer a:hover {
	text-decoration: underline;
	color: #cfe1e6;
}

footer .copyright {
	margin-top: 1em;
	color: #7e838b;
}




/* DIALOGS ========================================= */

.dialogView {
	overflow: hidden;
}

.dialogView > header,
.dialogView #content {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

.dialogContainer .close {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10001;
	width: 40px;
	height: 40px;
	overflow: hidden;
	color: rgba(255,255,255,0);
	line-height: 40px;
}

.dialogContainer .close:hover {
	opacity: 1;
}

.dialogContainer .close:before {
	content: '\e004';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-size: 75%;
	font-family: 'icomoon';
}

.dialogContainer .close:hover:before {
	color: #00c4cc;
}

.dialog {
	position: absolute;
	left: 50%;
	z-index: 1000;
	width: 900px;
	overflow: hidden;
	margin-left: -450px;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 10px;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 24px rgba(0,0,0,0.333);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-webkit-animation: dialogAppearing 0.3s;
	-moz-animation: dialogAppearing 0.3s;
	-ms-animation: dialogAppearing 0.3s;
	animation: dialogAppearing 0.3s;
}

@-webkit-keyframes dialogAppearing {
	from {
		opacity: 0;
		-webkit-transform: scale(0.67);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes dialogAppearing {
	from {
		opacity: 0;
		-moz-transform: scale(0.67);
	}
	to {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-ms-keyframes dialogAppearing {
	from {
		opacity: 0;
		-ms-transform: scale(0.67);
	}
	to {
		opacity: 1;
		-ms-transform: scale(1);
	}
}

@keyframes dialogAppearing {
	from {
		opacity: 0;
		transform: scale(0.67);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.dialog.disappearing {
	-webkit-animation: dialogDisappearing 0.3s forwards;
	-moz-animation: dialogDisappearing 0.3s forwards;
	-ms-animation: dialogDisappearing 0.3s forwards;
	animation: dialogDisappearing 0.3s forwards;
}

@-webkit-keyframes dialogDisappearing {
	from {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(0.67);
	}
}

@-moz-keyframes dialogDisappearing {
	from {
		opacity: 1;
		-moz-transform: scale(1);
	}
	to {
		opacity: 0;
		-moz-transform: scale(0.67);
	}
}

@-ms-keyframes dialogDisappearing {
	from {
		opacity: 1;
		-ms-transform: scale(1);
	}
	to {
		opacity: 0;
		-ms-transform: scale(0.67);
	}
}

@keyframes dialogDisappearing {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.67);
	}
}

.dialog.preparing {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.dialog h2 {
	margin: -0.15em 0 -0.467em 0;
	font-size: 150%;
	font-weight: 300;
}

.dialog .content {
	position: relative;
	-webkit-transition: top 0.5s linear, margin-top 0.5s linear, opacity 0.5s linear;
	-moz-transition: top 0.5s linear, margin-top 0.5s linear, opacity 0.5s linear;
	transition: top 0.5s linear, margin-top 0.5s linear, opacity 0.5s linear;
}

.mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	z-index: 1000;
	background-color: black;
	opacity: 0;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.mask.on {
	width: 100%;
	height: 100%;
	opacity: 0.333;
}

.dialog video {
	display: block;
	width: 100%;
}

#screenIsSmall {background-color: rgba(0,0,0,0);}
@media screen and (max-width: 960px)
{
	#screenIsSmall {background-color: rgba(1,0,0,0);}

	html {
	    -webkit-text-size-adjust: none;
	}

	#logo {
		top: 0px;
		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scale(0.8,0.8);
		-moz-transform: scale(0.8,0.8);
		-ms-transform: scale(0.8,0.8);
		transform: scale(0.8,0.8);
	}

	header {
		position: absolute;
		background-image: none;
	}

	header > .inner {
		min-width: 100%;
	}

	header #miniGetStarted {
		display: none;
	}

	header > .inner > menu > li {
		margin-left: 1em;
	}

	#hero, #content {
		width: 100%;
	}

	#hero h1 {
		font-size: 180%;
	}

	#hero .amazing {
		position: relative;
		min-width: 300px;
		margin: 0px 4%;
		left: auto;
		right: auto;
	}

	#hero .montage {
		display: block;
	}

	#hero video {
		display: none;
	}
	
	#content {
		margin: 2em auto 0 auto;
		padding: 0 4%;
	}
	#content .par-scale-container {
		position: relative;
		margin: 0 auto 0 auto;
	}
	#content .feature {
		float: none;
		margin-top: 2.4em;
	}

	#content h2 {
		font-size: 150%;
	}

	#content > section + section {
		padding-top: 2.5em;
	}

	#content > section {
		margin-top: 2.5em;
	}

	#sidekick {
		position: relative;
		left: 0;
		top: 0;
		float: none;
		width: 100%;
		margin: 0 0 2em 0 !important;
	}

	#sidekick p {
		font-size: 150%;
		margin-top: 0;
		color: #000000;
	}

	#sidekick form {
		margin-top: 0.4em;
		border-radius: 5px;
		padding: 0.8em 0.5em;
		font-size: 100%;
		min-width: 280px;
		background-color: #e5e5e5;
		text-align: center;
		color: #000000;
		float: none;
		text-align: left;
	}

	#sidekick input[type=text] {
		width: 6.6em;
		height: 32px;
		line-height: 24px;
		margin: 0 0 0 0.4em;
		border: 1px solid rgba(0,0,0,0.2);
		box-shadow: inset 0 4px 10px rgba(0,0,0,0.15), 1px 1px 0 #ffffff;
	}

	#sidekick input[type=text]:focus {
		border: 3px solid #00c4cc;
		padding: 0 8px;
		box-shadow: inset 0 4px 10px rgba(0,0,0,0.15);
	}

	#sidekick input[type=text]:not(:focus) {
		border-color: rgba(0,0,0,0.2);
	}

	#sidekick input[type=submit] {
		top: -1px;
		height: 30px;
		border-radius: 4px;
		margin: 0 0 -0.2em 0.4em;
		padding: 0 1.6em 0 1.6em;
		color: #ffffff;
		line-height: 32px;
	}

	#learnMore {
		display: none;
	}
	
	#documentTypes {
		text-align: center;
		width: 95%;
		margin-top: 1em;
		margin-bottom: -1em;
		margin-left: -2px;
		margin-right: -2px;
	}

	#documentTypes li {
		display: inline-block;
		margin-top: 8px;
		float: none;
		clear: none;
		margin-left: -32px;
		margin-right: -32px;
		transform: scale(0.8,0.8);
		-ms-transform: scale(0.8,0.8);
		-webkit-transform: scale(0.8,0.8);
	}

	#documentTypes li:nth-of-type(1) {position: absolute; left:   5.0%;}
	#documentTypes li:nth-of-type(2) {position: absolute; left:  20.0%;}
	#documentTypes li:nth-of-type(3) {position: absolute; left:  33.0%;}
	#documentTypes li:nth-of-type(4) {position: relative; left:   5.5%;}
	#documentTypes li:nth-of-type(5) {position: absolute; right:  31.5%;}
	#documentTypes li:nth-of-type(6) {position: absolute; right:  21.0%;}
	#documentTypes li:nth-of-type(7) {position: absolute; right:  8.0%;}

	#documentTypes li > span {
		display: none;
	}

	#documentTypes li:first-child {
		margin-left: 0px;		
	}

	#documentTypes figure {
		box-shadow: -2px 0px 1px 2px rgba(0,0,0,0.05);
	}
	
	#content1 h2 {
		text-align: left;
	}

	#content1 p {
		float: none;
		width: auto;
		min-width: 288px;
	}

	#content1 p + p {
		float: none;
	}
	
	#content2 .feature {
		position: relative;
		float: none;
		width: 480px;
		height: 300px;
	}

	#content h2 {
		width: auto;
	}

	#content2 .text {
		margin-left: 0px;
	}
	
	#content4 .feature {
		position: relative;
		float: none;
		width:  480px;
		height: 128px;
	}

	#content4 .text {
		margin-right: 0px;
	}
	
	.feature .sample {
		display: inline;
	}

	.feature .sample.one {
		top:  64px;
		left: 96px;
	}

	.feature .sample.two {
		display: none;
	}

	.feature .sample.three {
		top:  64px;
		left: 240px;
	}

	.feature .sample.four {
		top:  64px;
		left: 384px;
	}
	
	#content3 h2:first-child {
		margin-bottom: 0px;
	}
	
	#imagesWrapper {
		position: relative;
		background: url(https://di8vc3anm8wl1.cloudfront.net/images/home/image_of_images_of_images.jpg) no-repeat center center;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
		width: 480px;
		height: 118px;
		padding-top: 0px;
		margin: 0em auto 0em auto;
	}

	#imagesFeature {
		display: none;
	}
	
	#fontsFeature {
		position: relative;
		width: 700px;
		left: auto;
	}

	#content5 .feature {
		position: relative;
		float: none;
	}

	#content5 .text {
		margin-left: 0px;
	}

	#content7 {
		position: relative;
		margin: 0 auto;
		float: none;
		width: 100%;
		max-width: 840px;
	}

	#content7 h2 {
		margin-bottom: 1em;
	}

	#content7 .snapshotVideo {
		position: relative;
		padding-bottom: 75%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}

	#content7 iframe {
		position: absolute;
		margin-top: 0;
		top: 0;
		left: 0;
		width:  100%;
		height: 100%;
	}
	
	#content8 form {
		margin-top: 0.4em;
		border-radius: 5px;
		padding: 0.5em;
		font-size: 100%;
		min-width: 286px;
	}

	#content8 input[type=text] {
		width: 6.6em;
		height: 32px;
		line-height: 24px;
		margin: 0 0 0 0.4em;
	}

	#content8 input[type=submit] {
		top: -2px;
		height: 30px;
		border-radius: 4px;
		margin: 0 0 0 0.4em;
		padding: 0 1.6em 0 1.6em;
		line-height: 32px;
	}
	
	footer {
		margin-top: 4em;
	}
}

@media screen and (max-width: 480px)
{
	#documentTypes li:nth-of-type(1) {position: absolute; left:   5.0%;}
	#documentTypes li:nth-of-type(2) {position: absolute; left:  25.0%;}
	#documentTypes li:nth-of-type(3) {position: relative; left:   4.0%;}
	#documentTypes li:nth-of-type(4) {display: none;}
	#documentTypes li:nth-of-type(5) {position: absolute; right: 25.0%;}
	#documentTypes li:nth-of-type(6) {display: none;}
	#documentTypes li:nth-of-type(7) {position: absolute; right:  8.0%;}
}
