// Place all the styles related to the Reserve controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
    position:absolute; 
    right: 5%; 
    top: 45%; 
    //padding: 20px; 
    //background: #000; 
    //border-radius: 40px; 
    //opacity: .4; 
    //cursor: pointer
;}

.error {
    margin-bottom: 1em;
    color: #cc0000;
    font-weight: bold;
}